<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title></title>


  <link rel="stylesheet" href="css-lib/bootstrap.min.css">
  <link rel="stylesheet" href="css-lib/owl.carousel.min.css">
  <link rel="stylesheet" href="css-lib/jquery.fancybox.min.css">
  <link rel="stylesheet" href="css-lib/owl.theme.default.min.css">
  <link rel="stylesheet" href="css-lib/animate.min.css">
  <link rel="stylesheet" href="css-lib/fotorama.css">
  <link rel="stylesheet" href="css-lib/bootstrap-dropdownhover.min.css">
</head>

<body>
<header>
  <div class="header">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-4 col-12 order-sm-1 text-center">
          <img src="img/logo.png" alt="" class="header__logo img-fluid">
        </div>

        <div class="col-sm-4 col-4 order-sm-0 align-self-center">
          <div class="d-none d-lg-block header__city">ВАШ ГОРОД <a href="#" class="header__city-link">г. Краснодар</a>
          </div>
          <div class="d-none d-lg-block header__social">
            <a href="#"><img src="img/soc/fb.png" alt="" class="header__social-image"></a>
            <a href="#"><img src="img/soc/vk.png" alt="" class="header__social-image"></a>
            <a href="#"><img src="img/soc/inst.png" alt="" class="header__social-image"></a>
          </div>
          <button class="d-lg-none pt-2 pt-md-0 navbar-toggler navbar-dark" data-toggle-menu data-target="#headerMenu"
                  type="button">
            <span class="navbar-toggler-icon"></span>
          </button>
        </div>

        <div class="col-sm-4 col-8 order-sm-2 text-right header__contacts">
          <a href="#" class="header__phone">+7 (999) 999-99-99</a>
          <a href="#" class="btn btn-primary header__cta">ЗАКАЗАТЬ ЗВОНОК</a>
        </div>
      </div>
    </div>
  </div>
  <nav>
    <div class="top-menu__mobile-bar">

      <div class="top-menu__mobile-soc">
        <a href="#"><img src="img/soc-p/fb.png" alt="" class="header__social-image"></a>
        <a href="#"><img src="img/soc-p/vk.png" alt="" class="header__social-image"></a>
        <a href="#"><img src="img/soc-p/inst.png" alt="" class="header__social-image"></a>
      </div>

      <div class="top-menu__icons d-lg-none">
        <a href="#" class="top-menu__icon-heart"><img src="img/heart.png" alt="">
          <span class="top-menu__icon-heart-counter">1</span>
        </a>
        <a href="#" class="top-menu__icon-cart"><img src="img/cart.png" alt=""></a>
      </div>
    </div>


    <menu class="top-menu" id="headerMenu">
      <li>
        <a href="#">Каталог</a>
        <menu>
      <li><a href="#">Подпункт</a></li>
      <li><a href="#">Подпункт</a></li>
      <li><a href="#">Подпункт</a></li>
    </menu>
    </li>
    <li><a href="#">Конструктор набора</a></li>
    <li><a href="#">Оплата и доставка</a></li>
    <li><a href="#">Корпоративные подарки</a>
    </li>
    <li><a href="#">О нас</a></li>
    <li class="d-none d-lg-block">
      <div class="top-menu__icons">
        <a href="#" class="top-menu__icon-heart"><img src="img/heart.png" alt="">
          <span class="top-menu__icon-heart-counter">1</span>
        </a>
        <a href="#" class="top-menu__icon-cart"><img src="img/cart.png" alt=""></a>
      </div>
    </li>
    </menu>
  </nav>
  <div class="container">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#">Главная</a></li>
        <li class="breadcrumb-item active" aria-current="page">Личный кабинет</li>
      </ol>
    </nav>
  </div>
</header>
<main>
  <div class="h_background my-4">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h2 class="h-2">Личный кабинет клиента</h2>
        </div>
      </div>
    </div>
  </div>

  <div class="container mb-4">
    <div class="row">
      <div class="col-md-12 col-lg-5">
        <div class="lk__profile">
          <div class="row no-gutters">
            <div class="col-4">
              <img src="http://placehold.it/200" class="img-fluid lk__avatar" alt="">
            </div>
            <div class="col">
              <span class="lk__username">
                ИМЯ И ФАМИЛИЯ КЛИЕНТА
              </span>
              <input type="email" class="lk__text" name="Почта" placeholder="Ваша почта">
              <input type="tel" class="lk__text" name="Телефон" placeholder="Ваш телефон">
            </div>
          </div>
        </div>

        <div class="lk__promo">
          <div class="lk__promo-title">
            Доступные Вам бонусы и промокоды
          </div>
          <ul class="lk__list">
            <li>Вам доступна скидка 3% по промокоду <strong>3245</strong></li>
            <li>Вам доступна скидка 3% на заказ <strong>от 4000 рублей</strong> </li>
          </ul>
        </div>
      </div>
      <div class="col">
        <div class="lk__history">
          <div class="lk__history-title">
            История моих заказов:
          </div>

          <div class="lk__history-item">
            <div class="lk__history-date">28.10.2020</div>
            <div class="lk__history-row">
              <div class="lk__history-product-name">
                Название товара
              </div>
              <div class="lk__history-product-count">
                1 <small>шт</small>
              </div>
            </div>
            <div class="lk__history-row">
              <div class="lk__history-product-name">
                Название товара
              </div>
              <div class="lk__history-product-count">
                1 <small>шт</small>
              </div>
            </div>
            <div class="lk__history-price">
              2 500р.
            </div>
          </div>
          <div class="lk__history-item">
            <div class="lk__history-date">28.10.2020</div>
            <div class="lk__history-row">
              <div class="lk__history-product-name">
                Название товара
              </div>
              <div class="lk__history-product-count">
                1 <small>шт</small>
              </div>
            </div>
            <div class="lk__history-price">
              2 500р.
            </div>
          </div>

          <div class="lk__history-total">
            Итого: <span class="lk__history-price">5000р.</span>
          </div>
          <div class="lk__history-status">
            Статус заказа: доставлен
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-12 col-sm-8 col-md-6">
        <div class="row">
          <div class="col-6">
            <div class="footer__title">
              Информация
            </div>
            <div class="footer__links">
              <a href="#">Политика конфиденциальности</a>
              <a href="#">Договор оферты</a>
              <a href="#">Обмен и возврат товара</a>
            </div>
          </div>
          <div class="col-6">
            <div class="footer__title">
              Наши соц. сети
            </div>
            <div class="footer__soc">
              <div class="footer__soc-inst">
                <a href="#">
                  <img src="img/soc/inst.png" alt=""> Instagram
                </a>
              </div>
              <div class="footer__soc-fb">
                <a href="#">
                  <img src="img/soc/fb.png" alt=""> Facebook
                </a>
              </div>
              <div class="footer__soc-vk">
                <a href="#">
                  <img src="img/soc/vk.png" alt=""> ВКонтакте
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3 d-none text-center text-lg-left d-md-block">
        <img src="img/footer-logo.jpg" alt="" class="img-fluid">
      </div>
      <div class="col-sm-4 col-md-3">
        <div class="text-center text-md-left">
          <a href="#" class="btn btn-primary btn-block">Заказать звонок</a>
        </div>
        <div class="mt-3 text-center">
          <div>
            <a href="#" class="footer__btn-up">Наверх</a>
          </div>
          <div class="mt-2">
            <a href="#" class="">Вернуться на главную страницу</a>
          </div>
        </div>
      </div>
      <div class="col-12">
        <div class="row">
          <div class="col-9 footer__copy">
            ©GIFTY, Все права защищены,&nbsp;2020
          </div>
          <div class="col-3 text-center d-md-none"><img src="img/footer-logo.jpg" alt="" class="img-fluid"></div>
        </div>
      </div>
    </div>
  </div>
</footer>


<script src="js-lib/jquery-3.5.1.min.js"></script>
<script src="js-lib/jquery.fancybox.min.js"></script>
<script src="js-lib/owl.carousel.min.js"></script>
<script src="js-lib/bootstrap.min.js"></script>
<script src="js-lib/jquery.sticky-kit.min.js"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/fotorama/4.6.4/fotorama.css" rel="stylesheet">
<script src="https://cdnjs.cloudflare.com/ajax/libs/fotorama/4.6.4/fotorama.js"></script>

</body>
</html>
