<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title></title>


  <link rel="stylesheet" href="css-lib/bootstrap.min.css">
  <link rel="stylesheet" href="css-lib/owl.carousel.min.css">
  <link rel="stylesheet" href="css-lib/jquery.fancybox.min.css">
  <link rel="stylesheet" href="css-lib/owl.theme.default.min.css">
  <link rel="stylesheet" href="css-lib/animate.min.css">
  <link rel="stylesheet" href="css-lib/fotorama.css">
  <link rel="stylesheet" href="css-lib/bootstrap-dropdownhover.min.css">
</head>

<body>
<header>
  <div class="header">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-4 col-12 order-sm-1 text-center">
          <img src="img/logo.png" alt="" class="header__logo img-fluid">
        </div>

        <div class="col-sm-4 col-4 order-sm-0 align-self-center">
          <div class="d-none d-lg-block header__city">ВАШ ГОРОД <a href="#" class="header__city-link">г. Краснодар</a>
          </div>
          <div class="d-none d-lg-block header__social">
            <a href="#"><img src="img/soc/fb.png" alt="" class="header__social-image"></a>
            <a href="#"><img src="img/soc/vk.png" alt="" class="header__social-image"></a>
            <a href="#"><img src="img/soc/inst.png" alt="" class="header__social-image"></a>
          </div>
          <button class="d-lg-none pt-2 pt-md-0 navbar-toggler navbar-dark" data-toggle-menu data-target="#headerMenu"
                  type="button">
            <span class="navbar-toggler-icon"></span>
          </button>
        </div>

        <div class="col-sm-4 col-8 order-sm-2 text-right header__contacts">
          <a href="#" class="header__phone">+7 (999) 999-99-99</a>
          <a href="#" class="btn btn-primary header__cta">ЗАКАЗАТЬ ЗВОНОК</a>
        </div>
      </div>
    </div>
  </div>
  <nav>
    <div class="top-menu__mobile-bar">

      <div class="top-menu__mobile-soc">
        <a href="#"><img src="img/soc-p/fb.png" alt="" class="header__social-image"></a>
        <a href="#"><img src="img/soc-p/vk.png" alt="" class="header__social-image"></a>
        <a href="#"><img src="img/soc-p/inst.png" alt="" class="header__social-image"></a>
      </div>

      <div class="top-menu__icons d-lg-none">
        <a href="#" class="top-menu__icon-heart"><img src="img/heart.png" alt="">
          <span class="top-menu__icon-heart-counter">1</span>
        </a>
        <a href="#" class="top-menu__icon-cart"><img src="img/cart.png" alt=""></a>
      </div>
    </div>


    <menu class="top-menu" id="headerMenu">
      <li>
        <a href="#">Каталог</a>
        <menu>
      <li><a href="#">Подпункт</a></li>
      <li><a href="#">Подпункт</a></li>
      <li><a href="#">Подпункт</a></li>
    </menu>
    </li>
    <li><a href="#">Конструктор набора</a></li>
    <li><a href="#">Оплата и доставка</a></li>
    <li><a href="#">Корпоративные подарки</a>
    </li>
    <li><a href="#">О нас</a></li>
    <li class="d-none d-lg-block">
      <div class="top-menu__icons">
        <a href="#" class="top-menu__icon-heart"><img src="img/heart.png" alt="">
          <span class="top-menu__icon-heart-counter">1</span>
        </a>
        <a href="#" class="top-menu__icon-cart"><img src="img/cart.png" alt=""></a>
      </div>
    </li>
    </menu>
  </nav>
  <div class="container">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#">Главная</a></li>
        <li class="breadcrumb-item active" aria-current="page">Новости</li>
      </ol>
    </nav>
  </div>
</header>
<main>
  <div class="container dekor__wrapper news">
    <div class="row">
      <div class="col-12">
        <h1 class="h-1 news__header">
          НОВОСТЬ 1
        </h1>
        <div class="mt-4 news__text">
          <img src="img/news-placeholder.jpg" class="img-fluid news__image-main" alt=""><p>Lorem ipsum dolor sit amet,
          consectetur adipisicing elit. Accusamus aspernatur assumenda beatae consequatur consequuntur distinctio error
          harum minus pariatur quidem quo repellat reprehenderit, soluta. Assumenda consequatur dolorum enim, harum
          itaque minima modi natus nemo nesciunt nihil officia pariatur perferendis, sunt veniam voluptate?</p>
          <p>Ad
            aspernatur atque consequuntur cum distinctio dolore eaque eos eveniet, explicabo impedit ipsum, iste iure
            maxime perferendis provident repellendus, voluptas. Adipisci assumenda aut, commodi culpa cumque deserunt
            dicta ducimus exercitationem facilis fuga iste labore laborum maiores nesciunt obcaecati, praesentium quam
            quibusdam quisquam quod reiciendis repellat repellendus repudiandae saepe tempora ullam ut vel veniam</p>
          <p>A
            architecto commodi cumque dicta distinctio eligendi fugit id in ipsa iste, iure minus mollitia, pariatur
            perferendis quibusdam quidem recusandae sed similique, sunt suscipit! Accusantium atque, commodi consequatur
            corporis cumque cupiditate dolor dolorem, doloribus ducimus eius expedita facere fuga itaque mollitia nam
            necessitatibus possimus reiciendis sapiente unde veniam voluptate voluptates, voluptatum? At delectus dolor ea
            enim id maiores maxime. Et illo iure perspiciatis sequi voluptatibus. Lorem ipsum dolor sit amet, consectetur
            adipisicing elit. Ab adipisci deleniti ducimus, fugiat ipsa reiciendis repellat rerum totam vel vero.</p>

          <figure>
            <img src="http://placehold.it/1000x500" alt="">
            <figcaption>Подпись к картинке</figcaption>
          </figure>

          Facere, impedit ipsa iure non officia
          omnis quos repellendus, saepe tempore temporibus ut voluptates? Blanditiis cumque debitis deserunt dolor
          dolores ea eligendi expedita fuga hic laudantium, minima odio optio perspiciatis quae qui recusandae
          repudiandae soluta suscipit temporibus vel. Ab dolore illo ipsum omnis similique soluta tenetur voluptates. Ad
          amet assumenda blanditiis commodi dignissimos distinctio dolorum enim est nesciunt numquam quam, ullam. A,
          adipisci animi cum earum enim est exercitationem, fugit harum hic iste labore laboriosam molestiae nam
          nesciunt, rerum sunt vel! Id in modi nesciunt officia officiis quia saepe vero.
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-12">
        <div class="h-2 news__subheader mt-4">Похожие статьи</div>
        <div class="row news__siblings">
          <div class="col-md-6 col-lg-4">
            <div class="catalog-item">
              <div class="catalog-item__image-wrapper">
                <a href="#" class="d-block">
                  <img src="img/catalog/3.jpg" class="catalog-item__image img-fluid">
                </a>
                <div class="catalog-item__caption">
                  <a href="#">Новость</a>
                </div>
              </div>
              <a href="#" class="btn btn-secondary catalog-item__button">Смотреть подробнее</a>
            </div>
          </div>
          <div class="col-md-6 col-lg-4">
            <div class="catalog-item">
              <div class="catalog-item__image-wrapper">
                <a href="#" class="d-block">
                  <img src="img/catalog/3.jpg" class="catalog-item__image img-fluid">
                </a>
                <div class="catalog-item__caption">
                  <a href="#">Новость</a>
                </div>
              </div>
              <a href="#" class="btn btn-secondary catalog-item__button">Смотреть подробнее</a>
            </div>
          </div>
          <div class="col-md-6 offset-md-3 offset-lg-0 col-lg-4">
            <div class="catalog-item">
              <div class="catalog-item__image-wrapper">
                <a href="#" class="d-block">
                  <img src="img/catalog/3.jpg" class="catalog-item__image img-fluid">
                </a>
                <div class="catalog-item__caption">
                  <a href="#">Новость</a>
                </div>
              </div>
              <a href="#" class="btn btn-secondary catalog-item__button">Смотреть подробнее</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-12 col-sm-8 col-md-6">
        <div class="row">
          <div class="col-6">
            <div class="footer__title">
              Информация
            </div>
            <div class="footer__links">
              <a href="#">Политика конфиденциальности</a>
              <a href="#">Договор оферты</a>
              <a href="#">Обмен и возврат товара</a>
            </div>
          </div>
          <div class="col-6">
            <div class="footer__title">
              Наши соц. сети
            </div>
            <div class="footer__soc">
              <div class="footer__soc-inst">
                <a href="#">
                  <img src="img/soc/inst.png" alt=""> Instagram
                </a>
              </div>
              <div class="footer__soc-fb">
                <a href="#">
                  <img src="img/soc/fb.png" alt=""> Facebook
                </a>
              </div>
              <div class="footer__soc-vk">
                <a href="#">
                  <img src="img/soc/vk.png" alt=""> ВКонтакте
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3 d-none text-center text-lg-left d-md-block">
        <img src="img/footer-logo.jpg" alt="" class="img-fluid">
      </div>
      <div class="col-sm-4 col-md-3">
        <div class="text-center text-md-left">
          <a href="#" class="btn btn-primary btn-block">Заказать звонок</a>
        </div>
        <div>
          <div class="mt-3 text-center">
            <a href="#" class="footer__btn-up">Наверх</a>
          </div>
        </div>
      </div>
      <div class="col-12">
        <div class="row">
          <div class="col-9 footer__copy">
            ©GIFTY, Все права защищены,&nbsp;2020
          </div>
          <div class="col-3 text-center d-md-none"><img src="img/footer-logo.jpg" alt="" class="img-fluid"></div>
        </div>
      </div>
    </div>
  </div>
</footer>


<script src="js-lib/jquery-3.5.1.min.js"></script>
<script src="js-lib/jquery.fancybox.min.js"></script>
<script src="js-lib/owl.carousel.min.js"></script>
<script src="js-lib/bootstrap.min.js"></script>
<script src="js-lib/jquery.sticky-kit.min.js"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/fotorama/4.6.4/fotorama.css" rel="stylesheet">
<script src="https://cdnjs.cloudflare.com/ajax/libs/fotorama/4.6.4/fotorama.js"></script>

</body>
</html>
