.s404 {
    padding-top: 3em;

    &__title {
        font-size: 1.8em;
        line-height: 1.3;
        font-weight: 600;
        margin-top: 2em;
        margin-bottom: 2em;

        @media (max-width: 768px) {

            font-size: 1.3em;
        }
    }

    &__img {
        max-height: 300px;
    }
}