.btn {
  border-radius: 0;
  font-size: .9em;
  padding: 1em .7em;

  @include media-breakpoint-up("lg") {
    padding: 1em 1em;
  }

  outline: none;

  &-sm {
    padding: .5em 1em;
  }

  &-primary {
    background-color: $primary-color;
    border-color: darken($primary-color, 10%);

    &:hover, &:focus {
      box-shadow: none;
      background: $primary-color-darken-10;
      border-color: darken($primary-color-darken-10, 10%);
    }
    &:active {
      box-shadow: none !important;
      background: darken($primary-color-darken-10, 10%) !important;
      border-color: darken($primary-color-darken-10, 20%) !important;
    }
  }

  &-secondary {
    background-color: $base-color;
    border-color: darken($base-color, 10%);

    &:hover, &:focus {
      box-shadow: none;
      background: $base-color-darken-10;
      border-color: darken($base-color-darken-10, 10%);
    }
    &:active {
      box-shadow: none !important;
      background: darken($base-color-darken-10, 10%) !important;
      border-color: darken($base-color-darken-10, 20%) !important;
    }
  }



  &-white {
    color: #fff !important;
    border-color: darken(#fff, 10%) !important;

    &:hover, &:focus {
      box-shadow: none;
      color: darken(#fff, 10%) !important;
      border-color: darken(#fff, 20%) !important;
    }
    &:active {
      box-shadow: none !important;
      color: darken(#fff, 20%) !important;
      border-color: darken(#fff, 30%) !important;
    }
  }

  &-light {
    background-color: $base-color-light !important;
    border-color: darken($base-color-light, 10%) !important;

    &:hover, &:focus {
      box-shadow: none;
      background: darken($base-color-light, 10%) !important;
      border-color: darken($base-color-light, 20%) !important;
    }
    &:active {
      box-shadow: none !important;
      background: darken($base-color-light, 20%) !important;
      border-color: darken($base-color-light, 30%) !important;
    }
  }
}
