.category {

    &__select {
        border: 1px solid #ccc;
        cursor: pointer;
        width: 100%;
        margin-left: 6px;

        &:focus {
            outline: none;
        }
        
        @media(min-width: 575px) and (max-width: 767px){
            font-size: 11px;
        }
    }

    .form-control-sm {
        color: #000;
        border-radius: 0;
        height: 24px;
        margin-left: 6px;
    }


}

.category_filter {
    font-size: 14px;
}

.category-tags {

    .owl-dots {
        display: none;
    }

    &__link {
        color: #000;
        border: 1px solid #dadada;
        font-weight: 400;
        font-size: 13px;
        padding: 0 5px 2px;

        &:hover {
            text-decoration: none;
            color: #fff;
            background: $txt-h;
            border: 1px solid $txt-h;
        }


    }

    .owl-prev {
        display: none !important;
    }

    .owl-next {
        font-size: 40px !important;
        line-height: 0.4 !important;
        font-weight: 400 !important;
        color: #b9b2b2 !important;
        background: #fff !important;
        top: -1px !important;
        right: -30px !important;
        position: absolute !important;
        margin: 0 !important;

        &:hover,
        &:focus,
        &:active {
            background: #fff !important;
            color: $txt-h !important;
            outline: none !important;
        }
    }
}