.contacts{
    
    font-size: 1.4em;
    font-weight: 500;
    
    @media(max-width: 1200px){
        font-size: 1.2em;
    }
    
    &__bold{
        font-weight: 600;
        
        a{
            color: #000 !important;
        }
    }
    
    &__new{
        margin-top: 3em;
    }
    
    &__margin{
        margin-bottom: 1em;
    }
}