.favourites{
    &__tovar{
        border-bottom: 1px solid #efefef;
        padding-top: 2em;
        padding-bottom: 2em;
    }
    &__tovar:first-child{
        padding-top: 0.5em !important;
        }
        
    &__price{
        font-weight: 700;
        font-size: 24px;
        margin-bottom: 1em;
        
        @media(max-width: 375px){
            font-size: 20px;
        }
        @media(min-width: 768px) and (max-width: 991px){
            font-size: 18px;
        }
        @media(min-width: 992px) and (max-width: 1199px) {
                font-size: 22px;
            }
    }
    
    
    &__title{
        display: block;
        font-weight: 600;
        font-size: 22px;
        line-height: 1.4;
        margin-bottom: 1em;
        color: #000;
        
        &:hover{
            text-decoration: none;
            color: $txt-h;
            
        }
        
        @media(max-width: 400px){
            font-size: 14px;
        }
        @media(max-width: 768px){
            margin-top: 15px;
            font-size: 18px;
        }
        @media(min-width: 768px) and (max-width: 991px){
            font-size: 14px;
        }
        @media(min-width: 992px) and (max-width: 1199px) {
                font-size: 20px;
            }
        
    }
    &__form-title{
        font-size: 24px;
        font-weight: 700;
    }
    &__article{
        font-size: 16px;
        
        @media(max-width: 375px){
            font-size: 14px;
        }
    }
    &__form{
        font-size: 18px;
        margin-top: 2.5em;
        
        @media(min-width: 768px) and (max-width: 1199px) {
                font-size: 16px;
            }
        
        input{
            
            width: 100%;
            margin-bottom: 30px;
            padding: 4px 0 4px 8px; 
            
        }
        
        
    }
    
    &__form-note{
        font-size: 16px;
        margin-top: 20px;
    }
    &__form-comment{
        width: 100%;
    }
    &__form-text{
        margin: 1em 0 1.5em;
    }
    
    &__tovar-img{
//        margin-top: 1em;
//        margin-bottom: 1em;
    }
    
    
        &__like {
        color: #000;
        font-size: 16px;
        position: relative;
        padding-left: 40px;



        @media(max-width: 375px){
            font-size: 16px !important;
        }
        @media(max-width: 575px) {
            font-size: 18px;
            line-height: 1.2;
        }

        @media(min-width: 768px) and (max-width: 991px) {
            font-size: 11px;
            line-height: 1.3;
            padding-left: 10px;
        }

        @media(min-width: 991px) and (max-width: 1199px) {
            font-size: 19px;
        }

        &:hover {
            color: #000;
            text-decoration: none;

            &::before {
                background-image: url(/img/heart_outline.svg);
            }
        }




        &::before {

            content: '';
            display: block;
            position: absolute;
            background-size: contain;
            background-image: url(/img/heart_red.svg);
            background-repeat: no-repeat;
            width: 27px;
            height: 27px;
            left: 0;
            top: -3px;


            @media(max-width: 575px) {
                top: -2px;
            }

            @media(min-width: 768px) and (max-width: 991px) {
                top: 0;
                left: -20px;
                width: 21px;
                height: 21px;
            }
        }


    }
    
    
    
    
}