.footer {
  background: $base-color;
  color: #fff;
  padding-top: 1em;
  padding-bottom: 1em;

  a {
    color: #fff;
  }

  &__btn-up {
    color: white;
    position: relative;
    padding-right: 1.5em;

    &:after {
      content: '';
      position: absolute;
      transition: .3s;
      right: 0;
      top: .4em;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 0 .5em .5em .5em;
      border-color: transparent transparent $base-color-light transparent;
    }

    &:hover:after {
      border-color: transparent transparent $primary-color transparent;;
    }
  }

  &__title {
    font-size: 1em;

    @include media-breakpoint-up("lg") {
      font-size: 1.2em;
    }
  }

  &__links {
    margin-bottom: 1em;
    a {
      font-size: .9em;
      display: block;
      padding-top: .8em;

      @media (max-width: 340px) {
        font-size: .7em;
      }
    }
  }

  &__soc {

    margin-bottom: 1em;
    & > * {
      margin-top: 1em;
      @media (max-width: 340px) {
        font-size: .7em;
      }
    }
  }

  &__copy {
    padding-top: 2em;

    @media (max-width: 460px) {
      font-size: .8em;
    }
  }
}
