.founders {
  &__h1 {

    &-subheader {
      padding: 0 15px;
      margin: 15px auto;
      @include media-breakpoint-up("lg") {
        font-size: 24px;
        padding: 0 2em;
        max-width: 1000px;
      }
    }
  }

  &__screen-title {
    margin: 100px auto;
  }

  &__header-image {
    max-width: 1900px;
  }

  &__offer {

    &-title {
      font-weight: bold;
      font-size: 20px;
      margin-bottom: 1em;
      display: flex;
      align-items: center;

      img {
        //float: right;
        max-height: 3.5em;
        display: block;
        position: relative;
        top: -.5em;
        margin-left: 10px;
      }
    }

    &-body {
      background: linear-gradient(269.94deg, #FFFFFF 6.13%, rgba(255, 255, 255, 0) 70.11%), rgba(227, 178, 218, 0.5);
      padding-top: 1em;
      padding-bottom: 1em;
    }

    &-text {
      font-size: 14px;
    }

    &-image {
      background-position: center;
      background-size: cover;
      min-height: 200px;
    }

    &-btn {
      padding-left: 3em;
      padding-right: 3em;
    }

    &-item {
      margin-bottom: 30px;
      height: calc(100% - 30px);
    }
  }

}
