.h {

  &_without-margin {
    margin-left: -15px;
    margin-right: -15px;
    padding-left: 15px;
    padding-right: 15px;
  }

  &_background {
    padding-top: .5em;
    padding-bottom: .5em;
    background: linear-gradient(89.94deg, #E3B2DA 11.6%, rgba(227, 178, 218, 0) 80%);

    @include media-breakpoint-up("md") {

      background: linear-gradient(89.94deg, #E3B2DA 11.6%, rgba(227, 178, 218, 0) 50%);
    }
  }

  &-1, &-2, &-3, &-4 {
    position: relative;
    font-family: $secondary-font !important;
    margin-bottom: 0;
    color: $base-color;
  }

  &-1 {
  }

  &-2 {

  }
}
