.h2 {
    color: $txt-h;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 35px;
    text-align: center;

    @media(max-width: 468px) {
        font-size: 18px;
    }
    
    @media(min-width: 469px) and (max-width: 991px) {
        font-size: 25px;
    }
 
    &_sale {
        margin-bottom: 1.5em;
    }
}