.product {

    &__price {
        font-size: 1.6em;
        font-weight: 700;
        margin: 1em 0;

        @media (max-width: 568px) {
            margin: 0.5em 0 1em;
            font-size: 1.2em;
            font-weight: 600;
        }
        @media(min-width: 991px) and (max-width: 1199px) {
            font-size: 20px;
        }
    }

    &__char {

        td {
            border: 1px solid #ccc;
            font-weight: 500;
            color: #000;
            padding: 0.2em 3em 0.2em 0.4em;


            @media(max-width: 575px) {
                padding: 0.2em;
            }
        }
    }

    &__checkbox {
        position: relative;
        font-weight: 600;
        padding-left: 2em;
        font-size: 0.9em;
        margin: 2em 0;


        &::before {
            content: '';
            background-image: url(/img/checkbox.svg);
            width: 22px;
            height: 22px;
            position: absolute;
            bottom: 0;
            left: 0;
            background-position: center;
            background-size: contain;
            background-repeat: no-repeat;
        }

        @media (max-width: 568px) {
            margin: 1em 0;
        }
    }
    
    &__checkbox_none{
        
        &::before {
            background-image: url(/img/no.svg);
        }
    }

    &__volume {
        font-weight: 600;
    }

    &__favourites {
        color: #000;
        font-size: 23px;
        text-align: center;
        position: relative;



        @media(max-width: 575px) {
            font-size: 18px;
            line-height: 1.2;
        }

        @media(min-width: 768px) and (max-width: 991px) {
            font-size: 20px;
            line-height: 1.3;
        }

        @media(min-width: 991px) and (max-width: 1199px) {
            font-size: 19px;
        }

        &:hover {
            color: #000;
            text-decoration: none;

            &::before {
                background-image: url(/img/heart_blue.svg);
            }
        }




        &::before {

            content: '';
            display: block;
            position: absolute;
            background-size: contain;
            background-image: url(/img/heart_outline.svg);
            background-repeat: no-repeat;
            width: 33px;
            height: 33px;
            left: -45px;
            top: 0;


            @media(max-width: 575px) {
                top: 7px;
            }

            @media(min-width: 768px) and (max-width: 991px) {
                top: 12px;
            }
        }


    }

    &__article {

        @media(max-width: 568px) {
            font-size: 14px;
        }
    }

    &__tabs {
        margin-bottom: 5em;
        margin-top: 2em;
        font-size: 18px;
        font-weight: 500;

        @media(max-width: 575px) {
            font-size: 14px;
            margin-top: 4em;
        }
        @media(min-width: 576px) and (max-width: 767px) {
            font-size: 16px;
            margin-top: 3em;
        }

    }

    &__char td,
    &__char tr {

        border: 1px solid #dadada !important;
    }

    &__nav-tabs {
        border: none;
        margin-bottom: 2.5em;
    }

    &__tabs &__nav-tabs .nav-item.show .nav-link,
    &__nav-tabs .nav-link.active {
        border-bottom: 4px solid $txt-h !important;
        font-weight: 600 !important;
    }

    &__tabs &__nav-tabs .nav-link {
        font-weight: 600;
        color: #000;
        font-size: 23px;
        padding: 0;
        border: none;
        margin-right: 6em;

        @media(max-width: 575px) {
            font-size: 16px;
            margin-right: 2em;
        }
         @media(min-width: 576px) and (max-width: 767px) {
            margin-right: 3em;
        }
    }

    .nav-tabs .nav-item.show .nav-link,
    .nav-tabs .nav-link.active {}

}