$base-color: #5F2659;
$base-color-light: #E3B2DA;
$base-color-darken-10: darken($base-color, 10%);

$primary-color: #57C2BB;
$primary-color-darken-10: darken($primary-color, 10%);

$default-fonts: -apple-system, Roboto, Arial, "sans-serif";
$primary-font: Acrom, $default-fonts;
$secondary-font: Cinzel;
